
.counter {
  font-size: 68px;
  color: white;
  text-align: center;
}

.containerButtons {
  display: flex;          
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.limitExceededAlert {
  color: brown;
  text-align: center;
}