.counterTitleHeading{
    font-size: 36px;
}

.counter{
    font-size: 68px;
}

.containerButtons{
    flex-direction: column;
}

.containerButtons button {
    width: 120px;
    height: 30px;
    margin: 20px;
}

.limitExceededAlert{
    color: brown;
}