.buttonExercise {
  padding: 10px 20px;       /* vertical | horizontal */
  margin: 10px;
  border-radius: 10px;
  height: 80px;
}

button:hover{
    cursor: pointer;
}

.imgPokebola{
  padding-top: 5px;
  height: 20px;
  padding-right: 5px;
}