body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #20232a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  color: #c0bfbf;
}

input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
}

select {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  background-color: white;
}

.Item {
  color: white;
  border: 1px solid #515254;
  background-color: #142b5d;
  width: 20%;
  padding-top: 5px;
  margin: 10px;
  text-align: center;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.Item:hover {
  background-color: #1c305d;
}

.horizontalContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verticalContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
}